{% extends 'home.html' %}

{% block content %}
<div class="container">
    <div class="row">
         {% for i in prod_ct %}
        <div class="col-md-3">

            <div class="card" style="height:530px;">
        <img src="{{i.img.url}}" class="card-img-top" alt="..." style="width:215px;height:150px;">
        <div class="card-body">
        <h5 class="card-title" >{{i.name}}</h5>
        <p class="card-text" >{{i.desc}}</p>
        <h5>Year:{{i.year}}</h5>
        <a href="{% url 'details' i.id %}" class="btn btn-primary">Go to Details</a><br>
        <a class="btn btn-warning" href="{% url 'update' i.id %}">Udate</a><br>
        <a class="btn btn-danger" href="{% url 'delete' i.id %}">Delete</a>
  </div>
</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
